@import '../../../common/styles/variables.css';

.sortBar {
	background: $purple;
	font-size: 0.9em;
	color: #fff;
	padding: 7px 24px 7px 15px;
}

.sort, .colCenter {
	cursor: pointer;
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.sortArrow {
	font-size: 0.8em;
}

.colCenter {
	text-align: center;
}

.colRight {
	text-align: right;
}
