/*
* This file consists of global CSS rules to override bootstrap styles
* and general style rules for html elements
*/

@import 'common/styles/variables.css';

body {
	color: $black;
	font-family: "canada-type-gibson", helvetica, arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0.07em;
}

:global .btn {
	background: $blue;
	border-radius: 2px;
	border: 0;
	box-sizing: border-box;
	color: $white;
	font-weight: 400;
    outline: none !important;
    padding: 0.6em 1.4em;
    white-space: nowrap;
	&:hover,
	&:focus {
		background: $lightBlue;
		color: $white;
    	box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.15);
	}
	&:active:hover {
		background: $darkBlue;
		color: $white;
	}
}

:global .btn.ghost {
	background: transparent;
	border: 1px solid $blue;
	color: $blue;
}

:global .btn-info {
	background: $darkGray;
	color: $black;
	&:hover,
	&:focus {
		background: $;
	}
	&:active:hover {
		background: $darkerGray;
	}
}

:global .modal-footer {
	padding: 0;
	.btn {
		font-size: 1.2em;
		letter-spacing: 0.06em;
		width: 30%;
		border-radius: 0;
		padding: 14px 0;
	}
	.btn+.btn {
		margin: 0;
		width: 70%;
	}
}

:global .input-group-btn.dropdown {
	width: 1% !important;
}

:global .input-group-btn .dropdown-toggle {
	background: $darkGray;
	border: 1px solid #ccc;
	color: $black;
	padding: 6px 40px;
}

:global .input-group-btn .dropdown-toggle .caret {
    position: absolute;
    right: 10px;
    top: 15px;
}

@media (min-width: 992px) {
	:global .modal-lg {
	    width: 700px;
	}
}