/*
* This file consists of global CSS rules to override bootstrap styles
* and general style rules for html elements
*/

@import 'common/styles/variables.css';

body, html {
	height: 100%;
}
:global #app {
	height: 100%;
}

body {
	color: $black;
	font-family: "canada-type-gibson", helvetica, arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0.07em;
}

:global .btn {
	border: 0;
	box-sizing: border-box;
	font-weight: 400;
    outline: none !important;
    padding: 0.6em 1.4em;
    white-space: nowrap;
}

:global .btn-default {
	background: $gray;
}

:global .btn-primary {
	background: $blue;
	border-radius: 2px;
	color: $white;
	&:hover,
	&:focus {
		background: $lightBlue;
		color: $white;
    	box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.15);
	}
	&:active:hover {
		background: $darkBlue;
		color: $white;
	}
}

:global .modal {
	background: rgba(0,0,0,0.3);
}

:global .btn-default.ghost {
	background: transparent;
	border: 1px solid $white;
	color: $white;
}

:global .btn-primary.ghost {
	background: transparent;
	border: 1px solid $blue;
	color: $blue;
	&:hover,
	&:focus,
	&:active:hover {
		background: $blue;
		color: $white;
	}
}

:global .btn-danger.ghost,
:global .btn-danger.ghost:active:hover {
	background: transparent;
	border: 1px solid $red;
	color: $red;
}

:global .modal-footer {
	padding: 0;
	.btn {
		font-size: 1.2em;
		letter-spacing: 0.06em;
		width: 30%;
		border-radius: 0;
		padding: 14px 0;
	}
	.btn+.btn {
		margin: 0;
		width: 70%;
	}
}

:global .modal-header {
	padding: 20px 30px;
	h4 {
		font-size: 2em;
	}
}

:global .input-group-btn.dropdown {
	width: 1% !important;
}

:global .input-group-btn .dropdown-toggle {
	background: $darkGray;
	border: 1px solid #ccc;
	color: $black;
	padding: 6px 40px;
}

:global .input-group-btn .dropdown-toggle .caret {
    position: absolute;
    right: 10px;
    top: 15px;
}

:global .has-error .control-label {
	color: $red;
}
:global .has-error .form-control,
:global .form-group.has-error .rw-datetimepicker {
	border: 1px solid $red;
}

@media (min-width: 992px) {
	:global .modal-lg {
	    width: 775px;
	}
}