@import '../../common/styles/variables.css';

.root {
	margin-bottom: -100px;
	min-height: 100%;

	&:before,
	&:after {
		content: "";
		display: block;
	}

	&:before {
		height: $headerHeight;
	}

	&:after {
		height: $footerHeight;
	}
}
