$black      : #284266;
$blue       : #1B9DE8;
$darkBlue   : #1788ca;
$darkerGray : #848484;
$darkGray   : #eee;
$gray       : #EBEEF2;
$green      : #5cb85c;
$lightBlue  : #32a7ea;
$purple     : #7C6CF2;
$red        : #d9534f;
$white      : #fff;

$padding      : 30px;
$footerHeight : 100px;
$headerHeight : 127px;

$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);