@import '../../common/styles/variables.css';

body {
	.root {
		background: $black;
		bottom: 0;
		display: flex;
		max-width: inherit;
		position: fixed;
		width: 100%;
		z-index: 1;
	    align-items: center;
	    padding: 15px $padding;
	}

	.btn {
		&:hover,
		&:focus {
			background: $white;
			color: $black;
		}
		&:last-child {
			margin-left: auto;
		}
	}
}

.allStatus {
	color: $white;
	width: 100%;
	text-align: center;
}

.randomText {
	display: inline-block;
    margin-left: 3px;
}
