@import '../../../../../../common/styles/variables.css';

.root {
	display: flex;
    justify-content: flex-end;
    padding: 5px 0;

	&:nth-child(even) {
		background: $gray;
	}
}

.total,
.type {
	text-align: right;
}
