@import '../../../../../../common/styles/variables.css';

body {
	.root {
		margin-bottom: 5px;
	}

	.root:last-child {
		margin-bottom: 10px;
	}

	.total {
		text-align: right;
		font-size: 1.5em;
	}

	.dropdownButton {
		min-width: 141px;
	}

	.inputGroup {
		width: 50%;
		display: inline-table;
    	vertical-align: middle;
	}

	.formControl {
		border-radius: 0;
		border-right: 0;
	}

	.formGroup {
		width: 100%;
	}

	.rowTotal {
		border-left: 1px solid #ccc;
	}

	.remove {
		display: table-cell;
	    float: right;
	    height: 34px;
	    margin-left: -6px;
	    padding: 0;
	    vertical-align: middle;
	    width: 40px;
	    border-radius: 0 4px 4px 0;
	    background: $gray !important;
		&:hover,
		&:focus,
		&:active:hover {
			background: $red !important;
		}
	}
}
