@import '../../../common/styles/variables.css';

.root {
	align-items: center;
	background: #fff;
	cursor: pointer;
	display: flex;
	min-height: 50px;
	padding-left: 15px;
	padding-right: 24px;

	&:nth-child(even) {
		background: $gray;
	}

	&:hover,
	&:focus {
		color: #000;

		.editIcon {
			left: 15px;
			opacity: 1;
		}
		.name {
			padding-left: 50px;
		}
	}
}

.name {
	transition: padding-left 0.15s $easeOutQuad;
}

.editIcon {
	font-size: 1.8em;
    position: absolute;
    top: -1px;
    left: -30px;
    opacity: 0;
    color: $purple;
    transition: opacity 0.15s linear, left 0.15s $easeOutQuad;
}

.colCenter {
	text-align: center;
}

.colRight {
	text-align: right;
}
